{% extends 'cms/table.html.twig' %}

{% block table_name %}
    Parenttype
{% endblock %}

{% block table_create_btn %}
    <a class="btn-adm" href="{{ path('app_cms_parent_type_create') }}">Добавить</a>
{% endblock %}

{% block table_content %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for parentType in parentTypes %}
            <tr>
                <td class="col-index">{{ loop.index }}</td>
                <td>{{ parentType.name }}</td>
                <td class="actions actions-one-line">
                    <a class="btn-adm"
                       href="{{ path('app_cms_parent_type_update', {parentType: parentType.id}) }}">Редактировать</a>
                    <a class="btn-adm"
                       href="{{ path('app_cms_parent_type_delete', {parentType: parentType.id}) }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}