{% extends 'cms/table.html.twig' %}

{% block table_name %}
    Students
{% endblock %}


{% block table_create_btn %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn-adm" href="{{ path('app_cms_student_create') }}">Добавить</a>
    {% endif %}
{% endblock %}


{% block table_content %}

    <div style="display: flex; flex-wrap: wrap; gap: 20px">
        <form style="flex-basis: 100%" method="get" action="{{  path('app_cms_student_filter')  }}">
            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input type="text" name="surname" id="surname">
            </div>

            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" name="name" id="name">
            </div>

            <div class="form-group">
                <label for="patronymic">Отчество</label>
                <input name="patronymic" id="patronymic" type="text">
            </div>

            <div class="form-group">
                <input type="submit" class="btn_auth" name="btn" value="Обновить">
            </div>
        </form>

        <div class="out-block">
            {% for student in students %}
                <div class="out-row-block">
                    <p>Фамилия: {{ student.surname }}</p>
                    <p>Имя: {{ student.name }}</p>
                    <p>Отчество: {{ student.patronymic }}</p>
                    <p class="col-date">{{ student.birthday|date('d.m.Y') }}</p>
                    <p>Адрес: {{ student.address }}</p>
                    <p>Действ. Адрес: {{ student.actualAddress }}</p>
                    <p>Телефон: {{ student.phone }}</p>
                    <p>Номер: {{ student.hostel }}</p>
                    <p>Имя группы: {{ student.group.name }}</p>
                    <p>Группа здоровья: {{ student.healthgroup.name }}</p>
                    <p>Имя актива: {{ student.active.name }}</p>
                    <p>Статус: {{ student.status.name }}</p>
                    <p>Имя группы: {{ student.group.roles.name }}</p>

                    {% if is_granted('ROLE_ADMIN') %}
                        <p class="actions">
                            <a class="btn-adm"
                               href="{{ path('app_cms_student_update', {student: student.id}) }}">Редактировать</a>
                            <a class="btn-adm"
                               href="{{ path('app_cms_student_delete', {student: student.id}) }}">Удалить</a>
                        </p>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.warn("loaded")
        });
    </script>
{% endblock %}
