{% extends export|default(false) ? 'journal/form/export.html.twig' : 'journal/form/layout.html.twig' %}

{% block form %}
    <p>Лист здоровья</p>
{% endblock %}

{% block table %}
    <table class="journal__table journal__table-form15">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Группа здоровья</th>
            <th>Рекомендации</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="col_row">{{ loop.index }}</td>
                <td>{{ student.fio }}</td>
                <td>{{ student.healthgroup.name }}</td>
                <td>{{ student.healthgroup.recommendations }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if export|default(false) %}
        <style>
            tr > :nth-child(1) {
                width: 10%;
            }

            tr > :nth-child(2) {
                width: 30%;
            }

            tr > :nth-child(3) {
                width: 30%;
            }

            tr > :nth-child(4) {
                width: 30%;
            }
        </style>
    {% endif %}
{% endblock %}
