{% extends 'cms/table.html.twig' %}

{% block table_name %}
    Events
{% endblock %}

{% block table_create_btn %}
    <a class="btn-adm" href="{{ path('app_cms_event_create') }}">Добавить</a>
{% endblock %}

{% block table_content %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Месяц</th>
            <th>Дата</th>
            <th>id_typeofevent</th>
            <th>id_academicYear</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td class="col-index">{{ loop.index }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.month }}</td>
                <td  class="col-date">{{ event.date|date('d.m.Y') }}</td>
                <td>{{ event.typeOfEvent.name }}</td>
                <td>{{ event.academicYear.id }}</td>
                <td class="actions actions-one-line">
                    <a class="btn-adm"
                       href="{{ path('app_cms_event_update', {event: event.id}) }}">Редактировать</a>
                    <a class="btn-adm"
                       href="{{ path('app_cms_event_delete', {event: event.id}) }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}