{% extends export|default(false) ? 'journal/form/export.html.twig' : 'journal/form/layout.html.twig' %}

{% block form %}
    <p>Планируемая тематика родительских собраний {{ currentAcademicYear.id }} учебный год</p>
{% endblock %}

{% block table %}
    <div class="out-block">
        {% for month, monthGroup in parentsMeetings|group_by(parentsMeeting => parentsMeeting.month) %}
            {% for parentsMeeting in monthGroup %}
                <div class="out-row-block">
                    {% if loop.index0 == 0 %}
                        <p class="col_month" rowspan="{{ monthGroup|length }}">Месяц: {{ month }}</p>
                    {% endif %}
                    <p class="col_date">Дата: {{ parentsMeeting.date|date('d.m.Y') }}</p>
                    <p>Тематика: {{ parentsMeeting.subject }}</p>
                    <p>Результат кол-во присутствующих: {{ parentsMeeting.qty }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if export|default(false) %}
        <style>
            tr > :nth-child(1) {
                width: 15%;
            }

            tr > :nth-child(2) {
                width: 15%;
            }

            tr > :nth-child(3) {
                width: 45%;
            }

            tr > :nth-child(4) {
                width: 25%;
            }
        </style>
    {% endif %}
{% endblock %}
