{% extends export|default(false) ? 'journal/form/export.html.twig' : 'journal/form/layout.html.twig' %}

{% block form %}
    <p>Учет индивидуальных достижений обучающихся {{ currentAcademicYear.id - group.year + 1 }} курс {{ currentAcademicYear.id }} учебный год</p>
{% endblock %}

{% block table %}

    <form style="flex-basis: 100%" method="get" action="{{  path('app_cms_student_filter')  }}">
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" name="surname" id="surname">
        </div>

        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input name="patronymic" id="patronymic" type="text">
        </div>

        <div class="form-group">
            <input type="submit" class="btn_auth" name="btn" value="Обновить">
        </div>
    </form>

    <div class="out-block">
        {% for student in students %}
            <div class="out-row-block">
                <p>ФИО: {{ student.fio }}</p>
                {% for typeOfEvent in typeOfEvents %}
                    <p>{{ typeOfEvent.name }}: {{
                        events[student.id][typeOfEvent.id]
                        |default([])
                        |map(participation => participation.event.name)
                        |join(', ')
                        }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if export|default(false) %}
        <style>
            th {
                font-size: 12pt;
            }

            td {
                font-size: 10pt;
            }

            tr > :nth-child(1) {
                width: 50px;
            }

            tr > :nth-child(2) {
                width: 15%;
            }

            tr > :nth-child(n+3) {
                width: {{ (80 / typeOfEvents|length)|round(2) }}%;
            }
        </style>
    {% endif %}
{% endblock %}
